[submodule "jw-logger"]
	path = jw-logger
	url = https://github.com/YSidorka/jw-logger.git
[submodule "jw-const"]
	path = jw-const
	url = https://github.com/YSidorka/jw-const.git
[submodule "jw-env.config"]
	path = jw-env.config
	url = https://github.com/YSidorka/jw-env.config.git
[submodule "jw-data.mongo"]
	path = jw-data.mongo
	url = https://github.com/YSidorka/jw-data.mongo.git
